adafruit-ampy==1.1.0
argcomplete==3.6.2
bitarray==3.3.1
bitstring==4.3.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
ecdsa==0.19.1
epd-library==0.2.3
esptool==4.8.1
idna==3.10
intelhex==2.3.0
network==0.1
pillow==11.1.0
pycparser==2.22
pyserial==3.5
python-dotenv==1.1.0
pyudev==0.24.3
PyYAML==6.0.2
reedsolo==1.7.0
requests==2.32.3
RPi.GPIO==0.7.1
rshell==0.0.36
six==1.17.0
spidev==3.6
ujson==5.10.0
urequests==0.1.2
urllib3==2.4.0
